.main_grid {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  width: 90%;
  height: auto;
}
.div_1 {
  display: grid;
  display: inline-grid;
  display: subgrid;
}
.div_2 {
  display: grid;
  display: inline-grid;
  display: subgrid;
  min-height: auto;
}
.pagination_container {
  margin: 20px 0;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.pagination_btn {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-radius: 50%;
  /* padding: 10px; */
  color: #2874f0;
  cursor: pointer;
  font-weight: 500;
  width: 30px;
  height: 30px;
}
.pagination_btn_active {
  border: 1px solid #e0e0e0;
  background-color: #2874f0;
  border-radius: 50%;
  /* padding: 10px; */
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  width: 30px;
  height: 30px;
}
button:disabled {
  background-color: #f1f3f6;
}
