* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f1f3f6;
  font-family: 'Roboto', sans-serif;
}
a:-webkit-any-link {
 text-decoration: none;
}
.container {
  height: 200px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid cyan;
}
.card {
  height: 90%;
  width: 200px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.card_header {
  display: flex;
  justify-content: center;
}
.card_body {
  display: flex;
  justify-content: center;
}
.carousel_container {
  margin-top: 15px;
}
.mx_auto{
  margin-left: auto;
  margin-right: auto;
}
.margin_bt{
  margin-top: 10px;
  margin-bottom: 10px;
}
.shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(200, 20%, 75%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}
.text_center{
  text-align: center;
}